.body{
    min-height:80vh !important;
}
.nav-bar-style{
    background: #CB6363 !important;
}
.nav-bar-style>a, .nav-item a.nav-link {
    color:white !important;
    font-weight: bold;
}
.nav-item .dropdown-menu {
    right: 0;
    left: auto;
}
img {
    height: auto;
    max-width: 100%;
}
img.expanded {
    max-width: none;
}

.book-container {
    width: 96%;
    margin: 20px auto;
}

.book-test {
    width: 48%;
    float: left;
}

.modal-body {
    align-content: right;
}



.modal-header {
    background-color: #CB6363;
}


.rating-book-image {
    position: absolute;
    height: 69%;
    width: 34%;
}

.review-title-div {
    height: 270px;
    width: 250px;
}

.commentary {
    text-align: top;
    height: 150px;
    width: 100%;
    resize: none;
}

.char-counter {
    position: absolute;
    margin-left: 80%;
}

.review-title-container {
    position: absolute;
    margin-top: -13%;
    margin-left: 35%;
}

.review-comment-container {
    position: relative;
    margin-top: -6%;
    margin-left: 37%;
}

.anonymous {
    position: absolute;
    margin-left: 37%;
    height: 2%;
}

.line-break { 
    background-color: #CB6363;
    position: relative;
    height: 7%;
}

*{
    margin: 0;
    padding: 0;
}

.rate {
    position: relative;
    height: 9px;
    margin-right: 16%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 37%;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.review-1 {
    border-style: solid;

}

.bookdetails {
   

}

.yrate {
    position: absolute;
    margin-top: 3%;
.content {
    margin: 20px 0;
}

/* WISH LIST */
.wish-lists.container {
    padding: 30px 0;
}
.wish-lists.container .header {
    overflow: hidden;
    height: 100%;
}
.wish-lists.container .header .buttons {
    float: right;
    display: inline;
}
.wish-lists.container .header h1 {
    float: left;
    display: inline;
}
.wish-lists.container .list-group-item span.book-count {
    float: right;
    display: inline;
    font-size: 0.8em;
    color: #888;
    position: relative;
    top: 2px;
}
.wish-lists.container .book-cover {
    width: 100px;
    height: auto;
}
.wish-lists.container table td {
    vertical-align: middle;
}
/* Footer */
.footer{
  background:  lightgrey;
  color:black !important;
}