.nav-bar-style{
    background: #CB6363 !important;
}
.nav-bar-style>a, .nav-item a.nav-link {

    color:white !important;
    font-weight: bold;
    
}
.search-btn{
    /* background:yellow; */
}

img {
    height: auto;
    max-width: 100%;
}
img.expanded {
    max-width: none;
}

