*{
    margin: 0;
    padding: 0;
}

.body{
    min-height:80vh !important;
}
.nav-bar-style{
    background: #CB6363 !important;
}
.nav-bar-style>a, .nav-item a.nav-link {
    color:white !important;
    font-weight: bold;
}
.nav-item .dropdown-menu {
    right: 0;
    left: auto;
}
img {
    height: auto;
    max-width: 100%;
}
img.expanded {
    max-width: none;
}

.content {
    margin: 20px 0;
}

.book-test {
    width: 48%;
    float: left;
}

.modal-body {
    align-content: right;
}

.about-profile
{
    position: relative;
    margin-left: 2%;
}


.modal-header {
    background-color: #CB6363;
  
}


.rating-book-image {
    position: absolute;
    height: 65%;
    width: 34%;
}

.review-title-div {
    height: 270px;
    width: 250px;
}

.commentary {
    text-align: top;
    height: 150px;
    width: 100%;
    resize: none;
}

.char-counter {
    position: absolute;
    margin-left: 80%;
}

.review-title-container {
    position: absolute;
    margin-top: -13%;
    margin-left: 35%;
}

.review-comment-container {
    position: relative;
    margin-top: -6%;
    margin-left: 37%;
}

.anonymous {
    position: absolute;
    margin-left: 37%;
    height: 2%;
}

.line-break { 
    background-color: #CB6363;
    position: relative;
    height: 7%;
}
/* Footer */
.footer{
  background:  lightgrey;
  color:black !important;
}
.book-container {
    width: 96%;
    margin: 20px auto;
}

.rate {
    position: relative;
    height: 9px;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 37%;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.review-1 {
    border-style: solid;

}


.yrate {
    position: absolute;
    margin-top: 3%;
}

.charNum {
    margin-top: -6rem;
    margin-bottom: 2rem;
    margin-left: 20rem;
 }

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* WISH LIST */
.wish-lists.container {
    padding: 30px 0;
}
.wish-lists.container .header {
    overflow: hidden;
    height: 100%;
}
.wish-lists.container .header .buttons {
    float: right;
    display: inline;
}
.wish-lists.container .header h1 {
    float: left;
    display: inline;
}
.wish-lists.container .list-group-item span.book-count {
    float: right;
    display: inline;
    font-size: 0.8em;
    color: #888;
    position: relative;
    top: 2px;
}
.wish-lists.container .book-cover {
    width: 100px;
    height: auto;
}
.wish-lists.container table td {
    vertical-align: middle;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    .content {
        margin: 20px 0;
    }
    /* Footer */
    .footer{
    background:  lightgrey;
    color:black !important;
        background:  lightgrey;
        color:black !important;
    }
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}